{
    "openapi": "3.0.1",
    "info": {
        "title": "Entity Persistence Platform API",
        "description": "This API acts as a central Gateway entry point providing dynamic entity \nmanagement, security, validation, and orchestration services.\n",
        "contact": {
            "name": "Platform Team",
            "url": "https://tarcinapp.com",
            "email": "support@tarcinapp.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.tarcinapp.com",
            "description": "Production Environment"
        },
        {
            "url": "http://localhost:8081",
            "description": "Local Development"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "paths": {
        "/api/v1/relations": {
            "get": {
                "tags": [
                    "Relations"
                ],
                "operationId": "findRelations",
                "parameters": [
                    {
                        "name": "set",
                        "in": "query",
                        "description": "Advanced filtering with boolean flags, parametric objects (owners/viewers/audience), and dynamic time-bounded sets (e.g., createds-10m, expireds-2w)",
                        "required": false,
                        "style": "deepObject",
                        "explode": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "publics": {
                                    "type": "boolean",
                                    "description": "Filter by publics records"
                                },
                                "privates": {
                                    "type": "boolean",
                                    "description": "Filter by privates records"
                                },
                                "protecteds": {
                                    "type": "boolean",
                                    "description": "Filter by protecteds records"
                                },
                                "actives": {
                                    "type": "boolean",
                                    "description": "Filter by actives records"
                                },
                                "expireds": {
                                    "type": "boolean",
                                    "description": "Filter by expireds records"
                                },
                                "pendings": {
                                    "type": "boolean",
                                    "description": "Filter by pendings records"
                                },
                                "roots": {
                                    "type": "boolean",
                                    "description": "Filter by roots records"
                                },
                                "owners": {
                                    "type": "object",
                                    "properties": {
                                        "userIds": {
                                            "type": "string",
                                            "description": "Comma-separated user IDs, e.g., user1,user2"
                                        },
                                        "groupIds": {
                                            "type": "string",
                                            "description": "Comma-separated group IDs, e.g., group1,group2"
                                        }
                                    },
                                    "description": "Owners filtering parameters"
                                },
                                "viewers": {
                                    "type": "object",
                                    "properties": {
                                        "userIds": {
                                            "type": "string",
                                            "description": "Comma-separated user IDs, e.g., user1,user2"
                                        },
                                        "groupIds": {
                                            "type": "string",
                                            "description": "Comma-separated group IDs, e.g., group1,group2"
                                        }
                                    },
                                    "description": "Viewers filtering parameters"
                                },
                                "audience": {
                                    "type": "object",
                                    "properties": {
                                        "userIds": {
                                            "type": "string",
                                            "description": "Comma-separated user IDs, e.g., user1,user2"
                                        },
                                        "groupIds": {
                                            "type": "string",
                                            "description": "Comma-separated group IDs, e.g., group1,group2"
                                        }
                                    },
                                    "description": "Audience filtering parameters"
                                }
                            },
                            "additionalProperties": {
                                "type": "boolean",
                                "description": "Supports dynamic keys following the pattern <base>-<N><unit> (e.g., createds-10m, expireds-2w). Base must be one of: createds, expireds, actives, pendings. Units: m/min (minutes), d/day (days), w (weeks), mo/mon (months)."
                            }
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "required": false,
                        "style": "deepObject",
                        "explode": true,
                        "schema": {
                            "title": "ListToEntityRelationFilter",
                            "type": "object",
                            "properties": {
                                "where": {
                                    "type": "object"
                                },
                                "fields": {
                                    "type": "object"
                                },
                                "offset": {
                                    "minimum": 0,
                                    "type": "integer"
                                },
                                "limit": {
                                    "minimum": 1,
                                    "type": "integer"
                                },
                                "skip": {
                                    "minimum": 0,
                                    "type": "integer"
                                },
                                "order": {
                                    "oneOf": [
                                        {
                                            "type": "string"
                                        },
                                        {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    ]
                                },
                                "include": {
                                    "type": "array",
                                    "items": {
                                        "oneOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "object",
                                                "properties": {
                                                    "relation": {
                                                        "type": "string"
                                                    },
                                                    "set": {
                                                        "type": "object",
                                                        "additionalProperties": true
                                                    },
                                                    "setThrough": {
                                                        "type": "object",
                                                        "additionalProperties": true
                                                    },
                                                    "whereThrough": {
                                                        "type": "object",
                                                        "additionalProperties": true
                                                    },
                                                    "scope": {
                                                        "type": "object",
                                                        "properties": {
                                                            "fields": {
                                                                "type": "object",
                                                                "additionalProperties": {
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "where": {
                                                                "type": "object",
                                                                "additionalProperties": true
                                                            },
                                                            "limit": {
                                                                "minimum": 0,
                                                                "type": "integer"
                                                            },
                                                            "skip": {
                                                                "minimum": 0,
                                                                "type": "integer"
                                                            },
                                                            "order": {
                                                                "oneOf": [
                                                                    {
                                                                        "type": "string"
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            "include": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "description": "(Schema reference was unavailable)"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                },
                                "lookup": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "prop": {
                                                "type": "string"
                                            },
                                            "set": {
                                                "type": "object",
                                                "additionalProperties": true
                                            },
                                            "scope": {
                                                "type": "object",
                                                "properties": {
                                                    "fields": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "where": {
                                                        "type": "object",
                                                        "additionalProperties": true
                                                    },
                                                    "limit": {
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "skip": {
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "order": {
                                                        "oneOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    "lookup": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "description": "(Schema reference was unavailable)"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "additionalProperties": false
                        }
                    },
                    {
                        "name": "listFilter",
                        "in": "query",
                        "required": false,
                        "style": "deepObject",
                        "explode": true,
                        "schema": {
                            "title": "ListToEntityRelationFilter",
                            "type": "object",
                            "properties": {
                                "where": {
                                    "type": "object"
                                },
                                "fields": {
                                    "type": "object"
                                },
                                "offset": {
                                    "minimum": 0,
                                    "type": "integer"
                                },
                                "limit": {
                                    "minimum": 1,
                                    "type": "integer"
                                },
                                "skip": {
                                    "minimum": 0,
                                    "type": "integer"
                                },
                                "order": {
                                    "oneOf": [
                                        {
                                            "type": "string"
                                        },
                                        {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    ]
                                },
                                "include": {
                                    "type": "array",
                                    "items": {
                                        "oneOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "object",
                                                "properties": {
                                                    "relation": {
                                                        "type": "string"
                                                    },
                                                    "set": {
                                                        "type": "object",
                                                        "additionalProperties": true
                                                    },
                                                    "setThrough": {
                                                        "type": "object",
                                                        "additionalProperties": true
                                                    },
                                                    "whereThrough": {
                                                        "type": "object",
                                                        "additionalProperties": true
                                                    },
                                                    "scope": {
                                                        "type": "object",
                                                        "properties": {
                                                            "fields": {
                                                                "type": "object",
                                                                "additionalProperties": {
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "where": {
                                                                "type": "object",
                                                                "additionalProperties": true
                                                            },
                                                            "limit": {
                                                                "minimum": 0,
                                                                "type": "integer"
                                                            },
                                                            "skip": {
                                                                "minimum": 0,
                                                                "type": "integer"
                                                            },
                                                            "order": {
                                                                "oneOf": [
                                                                    {
                                                                        "type": "string"
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            "include": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "description": "(Schema reference was unavailable)"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                },
                                "lookup": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "prop": {
                                                "type": "string"
                                            },
                                            "set": {
                                                "type": "object",
                                                "additionalProperties": true
                                            },
                                            "scope": {
                                                "type": "object",
                                                "properties": {
                                                    "fields": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "where": {
                                                        "type": "object",
                                                        "additionalProperties": true
                                                    },
                                                    "limit": {
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "skip": {
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "order": {
                                                        "oneOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    "lookup": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "description": "(Schema reference was unavailable)"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "additionalProperties": false
                        }
                    },
                    {
                        "name": "listSet",
                        "in": "query",
                        "required": false,
                        "style": "deepObject",
                        "explode": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    {
                        "name": "entityFilter",
                        "in": "query",
                        "required": false,
                        "style": "deepObject",
                        "explode": true,
                        "schema": {
                            "title": "ListToEntityRelationFilter",
                            "type": "object",
                            "properties": {
                                "where": {
                                    "type": "object"
                                },
                                "fields": {
                                    "type": "object"
                                },
                                "offset": {
                                    "minimum": 0,
                                    "type": "integer"
                                },
                                "limit": {
                                    "minimum": 1,
                                    "type": "integer"
                                },
                                "skip": {
                                    "minimum": 0,
                                    "type": "integer"
                                },
                                "order": {
                                    "oneOf": [
                                        {
                                            "type": "string"
                                        },
                                        {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    ]
                                },
                                "include": {
                                    "type": "array",
                                    "items": {
                                        "oneOf": [
                                            {
                                                "type": "string"
                                            },
                                            {
                                                "type": "object",
                                                "properties": {
                                                    "relation": {
                                                        "type": "string"
                                                    },
                                                    "set": {
                                                        "type": "object",
                                                        "additionalProperties": true
                                                    },
                                                    "setThrough": {
                                                        "type": "object",
                                                        "additionalProperties": true
                                                    },
                                                    "whereThrough": {
                                                        "type": "object",
                                                        "additionalProperties": true
                                                    },
                                                    "scope": {
                                                        "type": "object",
                                                        "properties": {
                                                            "fields": {
                                                                "type": "object",
                                                                "additionalProperties": {
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "where": {
                                                                "type": "object",
                                                                "additionalProperties": true
                                                            },
                                                            "limit": {
                                                                "minimum": 0,
                                                                "type": "integer"
                                                            },
                                                            "skip": {
                                                                "minimum": 0,
                                                                "type": "integer"
                                                            },
                                                            "order": {
                                                                "oneOf": [
                                                                    {
                                                                        "type": "string"
                                                                    },
                                                                    {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            "include": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "description": "(Schema reference was unavailable)"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                },
                                "lookup": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "prop": {
                                                "type": "string"
                                            },
                                            "set": {
                                                "type": "object",
                                                "additionalProperties": true
                                            },
                                            "scope": {
                                                "type": "object",
                                                "properties": {
                                                    "fields": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "where": {
                                                        "type": "object",
                                                        "additionalProperties": true
                                                    },
                                                    "limit": {
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "skip": {
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "order": {
                                                        "oneOf": [
                                                            {
                                                                "type": "string"
                                                            },
                                                            {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    "lookup": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "description": "(Schema reference was unavailable)"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "additionalProperties": false
                        }
                    },
                    {
                        "name": "entitySet",
                        "in": "query",
                        "required": false,
                        "style": "deepObject",
                        "explode": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "Search by name. Translates to a case-insensitive regexp filter on the _name field.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Maximum number of records to return.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Number of records to skip (zero-based offset).",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Field name to order results by (e.g. _name, _createdDateTime).",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Comma-separated list of fields to include in each record (e.g. _name,id).",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "Comma-separated relation names to eagerly include (e.g. category,tags).",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lookup",
                        "in": "query",
                        "description": "Comma-separated property names to resolve via lookup (e.g. authorId,publisherId).",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Invoke a predefined saved query by name. Available values: actives, by-book-name, inactives, my, name, slug. Some queries accept companion parameters (see configuration).",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "actives",
                                "by-book-name",
                                "inactives",
                                "my",
                                "name",
                                "slug"
                            ]
                        }
                    },
                    {
                        "name": "fieldset",
                        "in": "query",
                        "description": "Apply a named field projection to the response. In show mode only the listed fields are returned; in hide mode the listed fields are removed. Use fieldsets=false to bypass all fieldset processing.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "hide-managed-all",
                                "hide-managed-except-id",
                                "hide-managed-except-id-kind-name",
                                "show-all",
                                "show-managed-all"
                            ]
                        }
                    },
                    {
                        "name": "fieldsets",
                        "in": "query",
                        "description": "Disable all fieldset processing for this request (including any configured default fieldset). Accepted values: false, 0, no, off.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "false",
                                "0",
                                "no",
                                "off"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of ListEntityRelation model instances",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Relation"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - malformed filter or query parameter",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "title": "HttpErrorResponse",
                                            "required": [
                                                "code",
                                                "message",
                                                "name",
                                                "statusCode"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "number"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "code": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "details": {
                                                    "type": "array",
                                                    "items": {
                                                        "title": "SingleError",
                                                        "required": [
                                                            "code",
                                                            "info",
                                                            "message"
                                                        ],
                                                        "type": "object",
                                                        "properties": {
                                                            "path": {
                                                                "type": "string"
                                                            },
                                                            "code": {
                                                                "type": "string"
                                                            },
                                                            "message": {
                                                                "type": "string"
                                                            },
                                                            "info": {
                                                                "type": "object"
                                                            }
                                                        },
                                                        "additionalProperties": false
                                                    }
                                                }
                                            },
                                            "additionalProperties": false
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "required": [
                                                "code",
                                                "message",
                                                "name",
                                                "requestId",
                                                "statusCode"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "code": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "GATEWAY-INTERNAL-SERVER-ERROR": {
                                        "summary": "GATEWAY-INTERNAL-SERVER-ERROR",
                                        "value": {
                                            "error": {
                                                "statusCode": 500,
                                                "name": "InternalServerError",
                                                "message": "gateway internal server error",
                                                "code": "GATEWAY-INTERNAL-SERVER-ERROR",
                                                "requestId": "req_xxxxxxxxxxxxxxxx",
                                                "path": "/api/v1/example"
                                            }
                                        },
                                        "valueSetFlag": true
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Authentication required"
                    },
                    "403": {
                        "description": "Forbidden - Insufficient permissions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "required": [
                                                "code",
                                                "message",
                                                "name",
                                                "requestId",
                                                "statusCode"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "code": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "GATEWAY-FORBIDDEN": {
                                        "summary": "GATEWAY-FORBIDDEN",
                                        "value": {
                                            "error": {
                                                "statusCode": 403,
                                                "name": "ForbiddenError",
                                                "message": "gateway forbidden",
                                                "code": "GATEWAY-FORBIDDEN",
                                                "requestId": "req_xxxxxxxxxxxxxxxx",
                                                "path": "/api/v1/example"
                                            }
                                        },
                                        "valueSetFlag": true
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found - Resource does not exist",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "required": [
                                                "code",
                                                "message",
                                                "name",
                                                "requestId",
                                                "statusCode"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "code": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "RELATION-NOT-FOUND": {
                                        "summary": "RELATION-NOT-FOUND",
                                        "value": {
                                            "error": {
                                                "statusCode": 404,
                                                "name": "NotFoundError",
                                                "message": "relation not found",
                                                "code": "RELATION-NOT-FOUND",
                                                "requestId": "req_xxxxxxxxxxxxxxxx",
                                                "path": "/api/v1/example"
                                            }
                                        },
                                        "valueSetFlag": true
                                    },
                                    "GATEWAY-NOT-FOUND": {
                                        "summary": "GATEWAY-NOT-FOUND",
                                        "value": {
                                            "error": {
                                                "statusCode": 404,
                                                "name": "NotFoundError",
                                                "message": "gateway not found",
                                                "code": "GATEWAY-NOT-FOUND",
                                                "requestId": "req_xxxxxxxxxxxxxxxx",
                                                "path": "/api/v1/example"
                                            }
                                        },
                                        "valueSetFlag": true
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "required": [
                                                "code",
                                                "message",
                                                "name",
                                                "requestId",
                                                "statusCode"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "code": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "RELATION-LIMIT-EXCEEDED": {
                                        "summary": "RELATION-LIMIT-EXCEEDED",
                                        "value": {
                                            "error": {
                                                "statusCode": 429,
                                                "name": "TooManyRequestsError",
                                                "message": "relation limit exceeded",
                                                "code": "RELATION-LIMIT-EXCEEDED",
                                                "requestId": "req_xxxxxxxxxxxxxxxx",
                                                "path": "/api/v1/example"
                                            }
                                        },
                                        "valueSetFlag": true
                                    },
                                    "GATEWAY-TOO-MANY-REQUESTS": {
                                        "summary": "GATEWAY-TOO-MANY-REQUESTS",
                                        "value": {
                                            "error": {
                                                "statusCode": 429,
                                                "name": "TooManyRequestsError",
                                                "message": "gateway too many requests",
                                                "code": "GATEWAY-TOO-MANY-REQUESTS",
                                                "requestId": "req_xxxxxxxxxxxxxxxx",
                                                "path": "/api/v1/example"
                                            }
                                        },
                                        "valueSetFlag": true
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Relations"
                ],
                "operationId": "createRelation",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewRelation"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ListEntityRelation model instance",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RelationCreateRelation"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "required": [
                                                "code",
                                                "message",
                                                "name",
                                                "requestId",
                                                "statusCode"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "code": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "GATEWAY-BAD-REQUEST": {
                                        "summary": "GATEWAY-BAD-REQUEST",
                                        "value": {
                                            "error": {
                                                "statusCode": 400,
                                                "name": "BadRequestError",
                                                "message": "gateway bad request",
                                                "code": "GATEWAY-BAD-REQUEST",
                                                "requestId": "req_xxxxxxxxxxxxxxxx",
                                                "path": "/api/v1/example"
                                            }
                                        },
                                        "valueSetFlag": true
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found - Resource does not exist",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "required": [
                                                "code",
                                                "message",
                                                "name",
                                                "requestId",
                                                "statusCode"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "code": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "RELATION-NOT-FOUND": {
                                        "summary": "RELATION-NOT-FOUND",
                                        "value": {
                                            "error": {
                                                "statusCode": 404,
                                                "name": "NotFoundError",
                                                "message": "relation not found",
                                                "code": "RELATION-NOT-FOUND",
                                                "requestId": "req_xxxxxxxxxxxxxxxx",
                                                "path": "/api/v1/example"
                                            }
                                        },
                                        "valueSetFlag": true
                                    },
                                    "GATEWAY-NOT-FOUND": {
                                        "summary": "GATEWAY-NOT-FOUND",
                                        "value": {
                                            "error": {
                                                "statusCode": 404,
                                                "name": "NotFoundError",
                                                "message": "gateway not found",
                                                "code": "GATEWAY-NOT-FOUND",
                                                "requestId": "req_xxxxxxxxxxxxxxxx",
                                                "path": "/api/v1/example"
                                            }
                                        },
                                        "valueSetFlag": true
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict - Resource already exists or uniqueness violation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "required": [
                                                "code",
                                                "message",
                                                "name",
                                                "requestId",
                                                "statusCode"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "code": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "RELATION-UNIQUENESS-VIOLATION": {
                                        "summary": "RELATION-UNIQUENESS-VIOLATION",
                                        "value": {
                                            "error": {
                                                "statusCode": 409,
                                                "name": "ConflictError",
                                                "message": "relation uniqueness violation",
                                                "code": "RELATION-UNIQUENESS-VIOLATION",
                                                "requestId": "req_xxxxxxxxxxxxxxxx",
                                                "path": "/api/v1/example"
                                            }
                                        },
                                        "valueSetFlag": true
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity - Semantic validation failed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests - Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "required": [
                                                "code",
                                                "message",
                                                "name",
                                                "requestId",
                                                "statusCode"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "code": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "RELATION-LIMIT-EXCEEDED": {
                                        "summary": "RELATION-LIMIT-EXCEEDED",
                                        "value": {
                                            "error": {
                                                "statusCode": 429,
                                                "name": "TooManyRequestsError",
                                                "message": "relation limit exceeded",
                                                "code": "RELATION-LIMIT-EXCEEDED",
                                                "requestId": "req_xxxxxxxxxxxxxxxx",
                                                "path": "/api/v1/example"
                                            }
                                        },
                                        "valueSetFlag": true
                                    },
                                    "GATEWAY-TOO-MANY-REQUESTS": {
                                        "summary": "GATEWAY-TOO-MANY-REQUESTS",
                                        "value": {
                                            "error": {
                                                "statusCode": 429,
                                                "name": "TooManyRequestsError",
                                                "message": "gateway too many requests",
                                                "code": "GATEWAY-TOO-MANY-REQUESTS",
                                                "requestId": "req_xxxxxxxxxxxxxxxx",
                                                "path": "/api/v1/example"
                                            }
                                        },
                                        "valueSetFlag": true
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "required": [
                                                "code",
                                                "message",
                                                "name",
                                                "requestId",
                                                "statusCode"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "code": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "GATEWAY-INTERNAL-SERVER-ERROR": {
                                        "summary": "GATEWAY-INTERNAL-SERVER-ERROR",
                                        "value": {
                                            "error": {
                                                "statusCode": 500,
                                                "name": "InternalServerError",
                                                "message": "gateway internal server error",
                                                "code": "GATEWAY-INTERNAL-SERVER-ERROR",
                                                "requestId": "req_xxxxxxxxxxxxxxxx",
                                                "path": "/api/v1/example"
                                            }
                                        },
                                        "valueSetFlag": true
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Authentication required"
                    },
                    "403": {
                        "description": "Forbidden - Insufficient permissions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "required": [
                                                "code",
                                                "message",
                                                "name",
                                                "requestId",
                                                "statusCode"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "code": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "GATEWAY-FORBIDDEN": {
                                        "summary": "GATEWAY-FORBIDDEN",
                                        "value": {
                                            "error": {
                                                "statusCode": 403,
                                                "name": "ForbiddenError",
                                                "message": "gateway forbidden",
                                                "code": "GATEWAY-FORBIDDEN",
                                                "requestId": "req_xxxxxxxxxxxxxxxx",
                                                "path": "/api/v1/example"
                                            }
                                        },
                                        "valueSetFlag": true
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Relations"
                ],
                "operationId": "updateRelations",
                "parameters": [
                    {
                        "name": "set",
                        "in": "query",
                        "description": "Advanced filtering with boolean flags, parametric objects (owners/viewers/audience), and dynamic time-bounded sets (e.g., createds-10m, expireds-2w)",
                        "required": false,
                        "style": "deepObject",
                        "explode": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "publics": {
                                    "type": "boolean",
                                    "description": "Filter by publics records"
                                },
                                "privates": {
                                    "type": "boolean",
                                    "description": "Filter by privates records"
                                },
                                "protecteds": {
                                    "type": "boolean",
                                    "description": "Filter by protecteds records"
                                },
                                "actives": {
                                    "type": "boolean",
                                    "description": "Filter by actives records"
                                },
                                "expireds": {
                                    "type": "boolean",
                                    "description": "Filter by expireds records"
                                },
                                "pendings": {
                                    "type": "boolean",
                                    "description": "Filter by pendings records"
                                },
                                "roots": {
                                    "type": "boolean",
                                    "description": "Filter by roots records"
                                },
                                "owners": {
                                    "type": "object",
                                    "properties": {
                                        "userIds": {
                                            "type": "string",
                                            "description": "Comma-separated user IDs, e.g., user1,user2"
                                        },
                                        "groupIds": {
                                            "type": "string",
                                            "description": "Comma-separated group IDs, e.g., group1,group2"
                                        }
                                    },
                                    "description": "Owners filtering parameters"
                                },
                                "viewers": {
                                    "type": "object",
                                    "properties": {
                                        "userIds": {
                                            "type": "string",
                                            "description": "Comma-separated user IDs, e.g., user1,user2"
                                        },
                                        "groupIds": {
                                            "type": "string",
                                            "description": "Comma-separated group IDs, e.g., group1,group2"
                                        }
                                    },
                                    "description": "Viewers filtering parameters"
                                },
                                "audience": {
                                    "type": "object",
                                    "properties": {
                                        "userIds": {
                                            "type": "string",
                                            "description": "Comma-separated user IDs, e.g., user1,user2"
                                        },
                                        "groupIds": {
                                            "type": "string",
                                            "description": "Comma-separated group IDs, e.g., group1,group2"
                                        }
                                    },
                                    "description": "Audience filtering parameters"
                                }
                            },
                            "additionalProperties": {
                                "type": "boolean",
                                "description": "Supports dynamic keys following the pattern <base>-<N><unit> (e.g., createds-10m, expireds-2w). Base must be one of: createds, expireds, actives, pendings. Units: m/min (minutes), d/day (days), w (weeks), mo/mon (months)."
                            }
                        }
                    },
                    {
                        "name": "where",
                        "in": "query",
                        "required": false,
                        "style": "deepObject",
                        "explode": true,
                        "schema": {
                            "title": "ListToEntityRelation.WhereFilter",
                            "type": "object",
                            "additionalProperties": true,
                            "extensions": {}
                        }
                    },
                    {
                        "name": "s",
                        "in": "query",
                        "description": "Search by name. Translates to a case-insensitive regexp filter on the _name field.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Invoke a predefined saved query by name. Available values: actives, by-book-name, inactives, my, name, slug. Some queries accept companion parameters (see configuration).",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "actives",
                                "by-book-name",
                                "inactives",
                                "my",
                                "name",
                                "slug"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchRelation"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "ListEntityRelation PATCH success count",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RelationUpdateRelations"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "required": [
                                                "code",
                                                "message",
                                                "name",
                                                "requestId",
                                                "statusCode"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "code": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "GATEWAY-BAD-REQUEST": {
                                        "summary": "GATEWAY-BAD-REQUEST",
                                        "value": {
                                            "error": {
                                                "statusCode": 400,
                                                "name": "BadRequestError",
                                                "message": "gateway bad request",
                                                "code": "GATEWAY-BAD-REQUEST",
                                                "requestId": "req_xxxxxxxxxxxxxxxx",
                                                "path": "/api/v1/example"
                                            }
                                        },
                                        "valueSetFlag": true
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "required": [
                                                "code",
                                                "message",
                                                "name",
                                                "requestId",
                                                "statusCode"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "statusCode": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "code": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "path": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "GATEWAY-INTERNAL-SERVER-ERROR": {
                                        "summary": "GATEWAY-INTERNAL-SERVER-ERROR",
                                        "value": {
                                            "error": {
                                                "statusCode": 500,
                                                "name": "InternalServerError",
                                                "message": "gateway internal server error",
                                                "code": "GATEWAY-INTERNAL-SERVER-ERROR",
                                                "requestId": "req_xxxxxxxxxxxxxxxx",
[...]
